.header {
    display: flex;
    padding-top: 10vw;
    padding-left: 10vw;
    padding-bottom: 5px;
    position: sticky;
    z-index: 1000;
    width: 100%;
    top: 0px;
    background-color: var(--background-transparent);
    user-select: none;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .header {
        background-color: var(--background-transparent-blur);
        backdrop-filter: blur(20px);
    }
}

.headerItems {
    display: none;
}

.hamburger {
    width: 4vw;
}
.headerItems > li > a {
    color: var(--foreground-main);
}

.link {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .header {
        font-size: 1.2rem;
        height: 60px;
        padding: 40px;
        justify-content: flex-end;
        align-items: center;
    }
    .headerItems {
        display: flex;
        list-style: none;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.05em;
        text-align: center;
    }
    .headerItems > li {
        padding-inline: 25px;
    }
    .hamburger {
        display: none;
    }
}
