/* Themes */
:root { /* default */
  --foreground-main: #000000;
  --foreground-faded: #777777;
  --foreground-secondary: #979797;
  --foreground-borders: #bebebe;
  --foreground-borders-faded: #C1C1C1;
  --accent-main: #d30f54;
  --accent-main-alpha: #d4739599;
  --background: #fafafa;
  --background-transparent: #fafafaf1;
  --background-transparent-blur: #fafafa70;
  --lore-visible: none;
  --lore-text: #d30f54;
  --header-height: 60px;
}
[data-theme='dark'] {
  --foreground-main: #F4F4F4;
  --foreground-faded: #696969;
  --foreground-secondary: #bdbdbd;
  --foreground-borders: #BEBEBE;
  --foreground-borders-faded: #C1C1C1;
  --accent-main: #FF5994;
  --accent-main-alpha: #FF599499;
  --background: #131313;
  --background-transparent: #131313;
  --background-transparent-blur: #131313;
  --lore-visible: url('/lore.png');
  --lore-text: #fff;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  background: var(--background);
  color: var(--foreground-main);
}

#__next {
  height: 100%;
}

*::selection {
  background-color: var(--accent-main-alpha);
}
a {
  color: var(--foreground-main);
  text-underline-offset: 2px;
}

a:hover {
  color: var(--accent-main);
}

* {
  box-sizing: border-box;
}

.active {
  font-weight: 700;
}
