/* Themes */
:root { /* default */
  --foreground-main: #000000;
  --foreground-faded: #696969;
  --foreground-borders: #bebebe;
  --accent-main: #d30f54;
  --background: #fafafa;
  --background-transparent: #fafafaf1;
  --background-transparent-blur: #fafafa70;
}
[data-theme='dark'] {
  --foreground-main: #ffffff;
  --foreground-faded: #e6e6e6;
  --foreground-borders: #ffffff;
  --accent-main: #d35b85;
  --background: #000000;
  --background-transparent: #000000cb;
  --background-transparent-blur: #000000;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  background: var(--background);
  color: var(--foreground-main)
}
a {
  color: var(--foreground-main);
  text-underline-offset: 1px;
}

a:hover {
  color: var(--accent-main);
}

* {
  box-sizing: border-box;
}

.active {
  font-weight: 700;
}
